+++
title = "Solder Party"
linkTitle = "Solder Party"

+++

{{< blocks/cover image_anchor="top" >}}
<div class="mx-auto">
	<img src="logo.svg" style="max-width: 50%">
	<h1 class="display-1">Welcome to the Solder Party!</h1>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">Documentation <i class="fas fa-book-open ml-2"></i></a>
	<br>
	{{< blocks/link-down color="white" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="secondary" %}}
Here at Solder Party, we work on creating products that are easy to use and help you develop your projects.

We're always focusing on innovating and chasing the next product that can make your ideas become a reality.

Check out our collection of open source boards on [Tindie](https://tindie.solder.party/).

You can also check out the [Documentation]({{< ref "/docs" >}}).

Solder Party AB is based in Malmö, Sweden. All orders are shipped from the EU.
{{% /blocks/lead %}}

{{< blocks/section color="primary" >}}

{{% blocks/feature icon="fab fa-github" title="Open Source!" url="https://github.com/solderparty" url_text="See our repos" %}}
All our products are Open Source, both hardware, and software; we also welcome contributions and comments.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-discord" title="Join the discussion!" url="https://discord.gg/myRFTvX" url_text="Join our Discord" %}}
Join our Discord community and get help from other makers or show off your project.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/solderparty" url_text="Visit our Twitter" %}}
For announcements of new products, information about events, etc.
{{% /blocks/feature %}}

{{< /blocks/section >}}


